* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #1f0f47;
}

a:visited {
    color: #4b4b4b;
}

a:hover {
    text-decoration: underline;
}

header {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    align-self: center;
    margin-left: 16px;
}

.name {
    margin: 16px;
}

.name h1 {
    margin: 0;
    font-size: 64px;
    font-weight:100;
}

.name h5 {
    margin: 0;
    font-size: 24px;
}

.hero {
    height: 400px;
    width: 100%;
    background: url(../images/desk.jpg) 0 60% no-repeat;
    background-size: cover;
    border-bottom: 4px solid #1f0f47;
    border-top: 4px solid #1f0f47;
}
.portfolio {
    max-width: 1200px;
    margin: auto;
    padding-top: 24px;
}

.portfolio h3:nth-child(1) {
    font-size: 44px;
    font-weight: 100;
    margin: 0;
}

.portfolio-examples {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}

.portfolio-item {
    margin: 8px;
    flex-shrink: 0;
    flex-basis: 300px;
}

.portfolio-item img {
    max-width: 100%;
}

@media screen and (max-width: 1250px) {
    body {
        margin: 16px;
    }
}

@media screen and (max-width: 1000px) {
    .portfolio-item {
        flex-basis: 100%;
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 575px) {
    .name {
        max-width: 250px;
    }
}

@media screen and (max-width: 375px) {
    .hero {
        background-position: -175px 0;
    }
}