body {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
}

.hero {
    height: 400px;
    width: 100%;
    background: url(../images/desk.jpg) 0 60% no-repeat;
    background-size: cover;
    border-bottom: 4px solid #1f0f47;
    border-top: 4px solid #1f0f47;
}